<style type="text/css">
.str {
  /* --- 文字情報設定 ------------------------------- */
  text-align      : left;         /* 文章を上詰め     */
  font-size       :50pt;         /* 文字サイズ       */
  letter-spacing  : .1em;         /* 文字間隔         */
  line-height     : 1.3;          /* 行間隔（1行高さ）*/
  -ms-writing-mode: tb-rl;        /* 縦書き（IE用）   */
  writing-mode    : vertical-rl;  /* 縦書き           */
}
</style>