<header align="center"><font size="7">ShareCalendar</font></header>

<div class="one-page" align="center">
    <table class="one-page" id="" background="assets/sky36.jpg">
        <tr>
            <td align="center">
                <h1 class="outline">無駄な時間に、さようなら</h1>
                <input type="button" name="login" value="ログイン">　
                <input type="button" name="new-account" value="新規登録">
            </td>
        </tr>
    </table>
</div>
<div class="one-page" align="center">
    <table class="one-page" id="waku">
        <tr>
            <td align="center">
                <h2>シェアカレンダーは自分の予定を共有できるサービスです</h2>
            </td>
        </tr>
   </table>
</div>
<div align="center" class="one-page">
    <table>
        <tr>
            <td><img alt="イメージ"></td>
            <td><h2>使いやすい共有機能</h2>
            <h3>タイトルと日時を入れるだけですぐに共有したい人の元へ予定が共有されます。<br>
            さらに公開非公開設定を使えば教えたくない内容は予定があるということだけが共有されます。</h3></td>
        </tr>
    </table>
    <table>
        <tr>
            <td><h2>Title</h2>
            <h3>Somethings here</h3></td>
            <td><img alt="イメージ"></td>
        </tr>
   </table>
</div>
